@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  html {
    scrollbar-width: none; /* Firefox */
  }
  
  /* Optional: Remove scroll behavior but still allow scrolling */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    overflow: -moz-scrollbars-none;
    overflow-y: scroll; /* If you want to allow vertical scrolling but hide the bar */
  }
